Q1) Write a Python program to convert kilometers to miles?

In [1]:
kilometers = float(input("Enter value in kilometers: "))

conv_fac = 0.621371

miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 1.2
1.20 kilometers is equal to 0.75 miles

Q2) Write a Python program to convert Celsius to Fahrenheit?

In [2]:
celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

Q4) Write a Python program to display calendar?

In [4]:
import calendar

yy = 2000 
mm = 11    

print(calendar.month(yy, mm))

   November 2000
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

Q4) Write a Python program to solve quadratic equation?

In [5]:
import cmath

a = 1
b = 5
c = 6

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

Q5) Write a Python program to solve quadratic equation?

In [6]:
import cmath

a = 4
b = 5
c = 9

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-0.625-1.3635890143294642j) and (-0.625+1.3635890143294642j)

Q6) Write a Python program to swap two variables without temp variable?

In [7]:
x = 5
y = 7

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)

x, y = y, x

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  5  and y :  7
After swapping:
Value of x :  7  and y :  5